# Ignorar todos os arquivos por padrão
*.*

# Exceto os seguintes tipos de arquivo
!*.v
!*.qar
!comp.txt
!*.pdf
!*.zip
!.gitignore
!*.py
!h.gtkw

# Exceto os seguintes diretórios e arquivos
work/*
_info
_vmake
transcript
db/*
!*.dig