# Ignorar todos os arquivos por padrão
*.*

# Exceto os seguintes tipos de arquivo
!*.v
!*.qar
!comp.txt
!*.pdf
!*.zip
!.gitignore
!*.py
!h.gtkw
!menu.gtkw
!*.txt
!*.md
!.svg
!.jpeg
!*.bin

# Exceto os seguintes diretórios e arquivos
work/*
_info
_vmake
transcript
db/*
!*.dig

# ignorar start_game
src/start_game.py